body {
   max-width: 1200px;
   min-width: 900px;
   /* height: 100%; */
   margin: auto;
   background: linear-gradient(180deg, #6ABDCF 0%, #A1C3CE 35.42%, #42BCC4 61.46%, #466EBC 100%);
   background-repeat: no-repeat;

   /* This was what resolved an issue of mine */
   background-attachment: fixed;
}

.back h2 {
   text-align: left;
   /* border: 5px black dashed; */
   margin: 10px 0;
}

#banner {
   width: 1100px;
   height: 250px;
   margin: auto;
   border-radius: 15px;
   position: relative;
   /* TEST ONLY */
   background-color: rgb(249, 246, 238, 10%);

}

h1 {
   text-align: center;
   border: 2px black dotted;
   margin: 50px;
}

#banner h2 {
   /* position: absolute; */
   text-align: center;
   border: 2px black dotted;
   /* top: 50%; */
}

#bubble1 {
   /* TEST ONLY */
   width: 100px;
   height: 100px;
   border-radius: 50%;
   z-index: -1;
   position: absolute;
   background-color: azure;
   animation: bubbling 2s ease-in infinite;
}



@keyframes bubbling {

   /* TEST ONLY */
   0% {
      bottom: 5px;
      left: 80px;
   }

   25% {
      bottom: 10px;
      left: 50px;
   }

   35% {
      bottom: 35px;
      left: 70px;
   }

   55% {
      bottom: 65px;
      left: 40px;
   }

   65% {
      bottom: 110px;
      left: 60px;
   }

   85% {
      bottom: 130px;
      left: 70px;
   }

   100% {
      bottom: 150px;
      left: 80px;
   }
}


main {
   width: 1100px;
   box-sizing: border-box;
   margin: auto;
   display: flex;
}

main ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

section {
   flex: 1;
   margin: 15px;
}

.shell {
   aspect-ratio: 1 / 1;
   position: relative;
   perspective: 1000px;
}

.back,
.front {
   width: 100%;
   /* idk why i have to put aspect-ratio twice tbh */
   aspect-ratio: 1 / 1;
   box-sizing: border-box;
   border-radius: 35px;
   position: absolute;
   top: 0;
   left: 0;
   backface-visibility: hidden;
   box-shadow: inset 0px -1px 10px 6px rgba(69, 116, 189, 0.3);
   transition: transform 1s ease-in;
}

.back {
   padding: 20px 100px;
   /* chaneg color? */
   background-color: pink;
   transform: rotateX(-180deg);
}

.front {

   background-image: url(images/testPrincess.png);
   background-size: cover;
   background-color: pink;
   transform: rotateX(0);
}

section:hover .back {
   transform: rotateX(0);
}

section:hover .front {
   transform: rotateX(180deg);
}

footer {
   padding: 100px;
   display: flex;
   justify-content: space-between;
   background-image: url(images/testSand.png);
   background-size: 100%;
   /* background-attachment: fixed; */
   background-repeat: no-repeat;
   /* background-color: #466EBC; */
}