body {
    font-family: Arial;
    color: black;
    line-height: 1.5em;
    background-color: #BEDDDE;
}
.showing {
    display: block;
}

.hidden {
    display: none;
}

#rules {
    position: absolute;
    top: 50%;
    left: 50%;;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 75px;
    background-color: #D6BB9C;
    border: 10px #BB9E7B solid;
    border-radius: 50px;
    z-index: 2;
    backdrop-filter: blur(20px);
}

#startgame {
    width: 300px;
}

h1 {
    position: absolute;
    top: 5%;
    left: 50%;;
    transform: translate(-50%)
}

#quit {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #D95B5B;
    border-color: #E29292;
}

#tree {
    position: absolute;
    top: 20%;
    left: 50%;;
    transform: translate(-50%);
}

#players {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#score {
    display: flex;
    justify-content: space-between;
}

#basket1, #basket2 {
    width: 300px;
    height: 200px;
    background-image: url('images/basket.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
}

#score p {
    text-align: center;
    font-size: 72pt;
}

#actions {
    position: absolute;
    top: 30%;
    left: 50%;;
    transform: translate(-50%);
    z-index: 1;
}

button { 
    margin: 25px;
    padding: 10px;
    width: 150px;
    border-radius: 100px;
    border-color: #BB9E7B;
    background-color: white;
}


#gamecontrol {
    position: absolute;
    top: 0;
    left: 0;
}

#game {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:1
}

#snake {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;;
    transform: translate(-50%, -50%);
    z-index: 2;
}

footer {
    height: 200px;
    position: relative;
    background-color: #8DC18F;
}

footer h2 {
    position: absolute;
    padding: 25px;
}

#mouseText {
    left: 3%;
}

#bunnyText {
    right: 3%;
}