body {
    max-width: 1200px;
    min-height: 900px;
    margin: auto;
    background-color: #122253;
    color: white;
    font-family: 'Glory', sans-serif;
    font-size: 1rem;
    line-height: 1.2em;
    position: relative;
 }

 h1 {
    margin: 50px;
 }

 section {
    padding: 20px;
    margin: 35px;
    background: linear-gradient(180deg, rgba(139, 226, 232, 0.5) 0%, rgba(162, 220, 221, 0.275) 51.04%, rgba(139, 226, 232, 0.425) 100%);
    border: 8px dashed #7DB2BE;
    border-radius: 35px;
 }

 #paras {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
 }

 #paras section {
    width: 38%;
 }

 #pics {
   /* padding: 20px; */
   margin: 35px;
   display: flex;
   justify-content: space-between;
   /* border: #7DB2BE 3px solid; */
 }

 img {
   border: 8px dashed #7DB2BE;
   border-radius: 35px;
 }